.slideshowContainer{
    max-width: 112rem;
    position: relative;
    margin: auto;
    background-color: orange;

    &__prev, &__next{
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        
    }

    &__prev{

    }

    &__next{

    }
}

.myslides{
    display: none;

    &__numberText{

    }

    &__img{

    }

    &__captionText{

    }
}

.dot{
    &__element{

    }
}